.landing-text {
    background: linear-gradient(
        45deg,
        #ffd33d,
        #ea4aaa 33%,
        #b34bff 66%,
        #01feff

        // #ffd33d,
        // #ea4aaa 17%,
        // #b34bff 34%,
        // #01feff 51%,
        // #ffd33d 68%,
        // #ea4aaa 85%,
        // #b34bff
      );
	font-family: Arial, Helvetica, sans-serif;
  background-size: 300%;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

    